.contact_form {
    /* max-width: 900px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Bebas Neue', sans-serif;
    height: 100vh;
    border-radius: 10px;
}

.contact_form h2 {
    font-size: 58px;
    color: white;
    font-family: 'Major Mono Display', monospace;
    font-weight: 100;
    padding: 0px 10px;
    text-align: center;
    border-radius: 80% 20% 32% 68% / 58% 22% 78% 42%;
}

.form_group {
    max-width: 90%;
    color: white;
    padding: 20px 100px;
    margin: 0 auto;
}

.contact_form button {
    margin: auto;
    display: flex;
    padding: 14px 32px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 18px;
    word-spacing: 2px;
    letter-spacing: 4px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    border: transparent;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-radius: 3px;
    transition: .3s ease-in-out;
}

.contact_form button:hover {
    border: 1px solid white;
    transition: .3s ease-in-out;
    color: rgb(255, 255, 255);
    background-color: #000000;
}


@media screen and (max-width:900px) {
    .contact_form {
        width: 100%;
    }

    .contact_form h2 {
        font-size: 30px;
        text-align: center;
        color: rgb(88, 156, 220);
        font-weight: 100;
    }

    .form_group {
        width: 100%;
    }

    .contact_form button {
        width: 100%;
        color: rgb(0, 0, 0);
        border: transparent;
        background-color: #ffffff;
        transition: .3s ease-in-out;
    }

    .contact_form button:hover {
        border: 1px solid white;
        transition: .3s ease-in-out;
        color: rgb(255, 255, 255);
        background-color: #000000;
    }

}